*{
  margin: 0;
  padding: 0;
  font-family: '나눔 고딕','NanumGothic','맑은 고딕','Gothic';
}
li{
  list-style: none;
}
header
{
  background-color: #2793e6e6;
  padding: 1px;
  text-align: center;
  font-size: 20px;
  color: white;
}
body{
  background-color: #2793e6e6;
}
#like{
  background-color: #FFFFFF;
  width: 80%;
  margin: 30px 100px 40px 100px;
  padding: 10px  20px 10px 20px;
  border-radius: 7px;
  box-shadow: 0 1px 10px rgba(100, 100, 100, 0.3);
  text-align: center;
}

#main-navigation{
  border: 0px solid;
  margin: 0px 0px 0px 0px;
  height: 40px;
}

nav a{
  text-decoration: none;
  display: block;
  height: 30px;
  text-align: center;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  color: #FFFFFF;
}

nav li{
  float: left;
}

nav a:hover{
  background-color: #000000;
  color: #FFFFFF;
}

nav a:active{
  color: #FFFF00;
}

#li1{
  font-size: 20px;
  font-variant: small-caps;
  background-color:Tomato;
  border: 0px solid #C8C8C8;
  margin: 0px 0px 0px 0px;
  width: 33%;
  height: 40px;
}
#li2{
  font-size: 20px;
  font-variant: small-caps;
  background-color:Orange;
  border: 0px solid #C8C8C8;
  margin: 0px 0px 0px 0px;
  width: 33%;
  height: 40px;
}
#li3{
  font-size: 20px;
  font-variant: small-caps;
  background-color:DodgerBlue;
  border: 0px solid #C8C8C8;
  margin: 0px 0px 0px 0px;
  width: 34%;
  height: 40px;
}
#food{
  /*text-decoration: none;*/
  color: Gold;
}
#hobby{
  /*text-decoration: none;*/
  color: Gold;
}
img{
  width: 30%;
  height: 30%;
}
p{
  font-
  font-size: 14px;
}
